{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% block title  %}Change Password | NoteIt ! {% endblock title  %}
{% block content %}
<section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
              <h1 class="p-4 text-center"></h1>
              <form action="" method="POST">
                  {% csrf_token %}
                  {{form| crispy}}
                  <button class="d-grid gap-2 btn btn-success mb-1 col-6 mx-auto" type="submit">Change Password</button>
              </form>
              <hr class="my-4">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}